.hero {
    height: calc(100vh - 100px);
    background-color: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;

    .wrapper {
        max-width: 1366px;
        padding-inline: 2rem;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 6px;
            }


            .text-animate {
                h1 {
                    position: relative;
                    width: 32.8rem;
                    font-weight: 700;
                    color: transparent;
                    -webkit-text-stroke: 0.7px rebeccapurple;
                    background-image: linear-gradient(white, rebeccapurple);
                    background-repeat: no-repeat;
                    -webkit-background-clip: text;
                    background-position: -33rem 0;
                    animation: homeBgText 6s linear infinite;
                    animation-delay: 2s;

                    font-size: 88px;
                }

                h1::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    border-right: 2px solid white;
                    z-index: -1;
                    animation: homeCursorText 6s linear infinite;
                    animation-delay: 2s;
                }
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer !important;
                    font-weight: 300;
                }
            }


            img {
                width: 50px;
            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        z-index: -999;
        user-select: none;
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        bottom: -10%;
        right: 5%;
    }
}

@media screen and (max-width:850px) {
    .hero {
        .wrapper {
            .textContainer {
                width: 100%;

                h2 {
                    font-size: 24px;
                }

                .text-animate {
                    h1 {
                        font-size: 75px;
                    }
                }

                .buttons button {
                    padding: 10px;
                }
            }
        }

        .slidingTextContainer {
            font-size: 40vh;
            bottom: -50px;
        }

        .imageContainer {
            right: -6%;
        }
    }

}

@media screen and (max-width: 700px) {
    .hero {
        .wrapper {
            .textContainer {
                width: 50%;

                h2 {
                    font-size: 20px;
                }

                .text-animate {
                    h1 {
                        font-size: 60px;
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 20px
                }
            }
        }

        .imageContainer {
            bottom: -10%;
            right: -12%;
        }
    }

}

@media screen and (max-width: 600px) {
    .hero {
        .imageContainer {
            height: 400px;
            width: 400px;

            right: -10%;
            top: 15%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .hero {
        .wrapper {
            .textContainer {

                .text-animate {
                    h1 {
                        font-size: 58px;
                    }
                }

            }
        }

        .imageContainer {
            height: 320px;
            width: 320px;

            top: 25%;
        }

        .slidingTextContainer {
            font-size: 20vh;
            bottom: -20px;
        }
    }

}

@media screen and (max-width: 400px) {
    .hero {

        .imageContainer {
            display: none;
        }

        .buttons {
            width: 50vw;
        }

        .slidingTextContainer {
            font-size: 15vh;
            bottom: -20px;
        }
    }

}

//animations 
@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}