.contact {
    height: 100%;
    max-width: 1366px;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 100px;
            line-height: 88px;
        }

        span {
            font-weight: 300;
        }
    }

    .formContainer {
        width: 100%;
        flex: 1;

        form {

            display: flex;
            flex-direction: column;
            gap: 20px;

            input,
            textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
            }

            button {
                padding: 20px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .contact .textContainer {
        gap: 30px;

        h1 {
            font-size: 60px;
            line-height: 48px;
        }

    }

}


@media screen and (max-width: 650px) {
    .contact {
        padding-top: 2rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .textContainer {
            gap: 10px;

            h1 {
                font-size: 48px;
                line-height: 48px;
            }

        }

        .formContainer {


            form {

                display: flex;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    padding: 20px;
                    background-color: transparent;
                    border: 1px solid white;
                    color: white;
                    border-radius: 5px;
                }

                button {
                    padding: 20px;
                    border: none;
                    background-color: orange;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
    }

}