html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
    // background-image: linear-gradient(180deg,#0c0c1d,#717dff, #101035,#11112e);
    overflow-x: hidden;
}

.app-wrapper {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}